@{
    ViewData["Title"] = "Sobre";
}


<div class="text-center">
    <h1>BacklogSys</h1>
    <br />
    <p>Esta aplicação foi desenvolvida no ambito da unidade curricular Desenvolvimento Web, esta deverá servir como projeto final à UC mencionada, para o ano letivo 2021/2022</p>
</div>
<br>
<ul>
    <li>Nome: Ruben Anastácio</li>
    <li>Numero: 20965</li>
    <li>Curso: Engenharia Informática</li>
</ul>

<p>
    O login de utilizadores na aplicação corresponde sempre a um padrão, ou seja, o email é a primeira letra do primeiro nome junto com o ultimo nome completo seguido com "empresa.com",
    a password é o nome do utilizador completo, sem o espaço e com as maiusculas no inicio de cada nome.
    A conta a baixo corresponde a um utilizador administrativo:
</p>
<br>
<span><b>Email/Username:</b> rcorreia@empresa.com</span>
<br>
<span><b>Password:</b> RicardoCorreia</span>