@{
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="../Assets/style.css" type="text/css" />

<div class="text-center">
    <h1 class="display-4">BacklogSys</h1>
    <p>Faz login para conseguires utilizar todas as funções da aplicação</p>
    <a class="nav-link text-blue" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <br /><br /><br />
    <a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="About">Informações sobre a aplicação</a>

</div>
