@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Esta página não existe</title>
</head>
<body>
    <div>
        <center>
            A página que procuras não foi encontrada
        </center>
    </div>
</body>
</html>
